:root {
    --tan: #d2af8b;
    --lghtBrown: #c08f5d;
    --drkBrown: #280003;
    --lghtGray: #4a5859;
    --drkGray: #2a3d45;

    --lghtText: #fff;
    --drkText: #111;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--tan);
}

header, main, footer{
    flex-grow: 1;
}

footer{
    background-color: var(--lghtBrown);
    border-top: solid 0.5rem;
    border-color: var(--drkGray);
}

img {
    height: 100%;
}

p{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
}

h3{
    padding: 0;
    margin: 0;
}

.stapler {
    height: 29vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-image: url('assets/Images/Stapler.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
    color: #966037;
}

.stapler:active{
    background-image: url(assets/Images/Stapler-closed.svg);
}

.stapler .level{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.staple-counter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    background-color: var(--lghtGray);
    color: var(--lghtText);
}

.staple-counter .image-box{
    height: 2.5rem;
}

.staple-counter .image-box img{
    padding-right: 1rem;
}

.staple-counter p{
    font-size: 1.7rem;
    font-weight: bold;
}

.money-info {
    background-color: var(--drkGray);
    color: var(--lghtText);
    padding: 0.2rem 0;
}

.price-setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.resource-info-card{
    background-color: var(--drkBrown);
    cursor: pointer;
    user-select: none;
    color: var(--lghtText);
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0 15%;
    padding: 0.25rem 0;
    border: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    transition: 50ms;
}

.resource-info-card:hover{
    color: var(--drkText);
    background-color: var(--lghtBrown);
    box-shadow: 10px 10px 32px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -13px rgba(0,0,0,0.75);
}

.resource-info-card-nosel{
    background-color: var(--lghtGray);
    user-select: none;
    color: var(--lghtText);
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0 15%;
    padding: 0.25rem 0;
    border: 0;
    border-radius: 0 0 0.5rem 0.5rem;
}

.shop-container{
    padding-top: 1rem;
}

.upgrade-image-container {
    min-height: 3rem;
    height: 9vh;
}

.upgrade-card {
    padding: 0.5rem;
    cursor: pointer;
    user-select: none;
    background-color: var(--drkBrown);
    color: white;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 90%;
    border: 0;
    border-radius: 0.6rem;
    margin-bottom: 0.7rem;
    transition: 50ms;
}

.upgrade-card:hover{
    color: var(--drkText);
    background-color: var(--tan);
    box-shadow: 10px 10px 32px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -13px rgba(0,0,0,0.75);
}

.one-off-upgrade {
    background-color: var(--drkBrown);
    user-select: none;
    cursor: pointer;
    color: var(--lghtText);
    padding: 0.45rem;
    border: 0;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 50ms;
}

.one-off-upgrade:hover {
    color: var(--drkText);
    background-color: var(--tan);
    box-shadow: 10px 10px 32px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px -13px rgba(0,0,0,0.75);
}

.one-off-upgrade h5{
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.one-off-upgrade p{
    flex-grow: 1;
    padding: 0;
    margin: 0;
}